.wrapper {
  border: 1px solid black;
  height: 50px;
  min-width: 240px;
  position: relative;
  overflow: hidden;
}

.wrapper:hover {
  background-color: rgba(86, 160, 211, 0.5);
  cursor: pointer;
}

.timestamp {
  width: 150px;
  height: 100%;
  border-right: 1px solid black;
  color: gray;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.data {
  display: inline-block;
  position: absolute;
  width: 80px;
}

.path {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  max-width: 350px;
  max-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
